#let(title = "Blog admin")
#define(body):

#(fd.id ?? "n/a")
<div class="wrapper">
    <h2><a href="/admin/blog/categories">Categories</a> / #(edit.id != nil ? "Edit" : "Create")</h2>
</div>

<form id="category-edit-form" class="wrapper" method="post" action="/admin/blog/categories/#(edit.id ?? "new")">
    <input type="hidden" name="id" value="#(edit.id)">

        #fields()

    <section>
        <input type="submit" class="submit" value="Save">
    </section>
</form>
#enddefine
#inline("Admin/Index")
