#let(title = "Blog admin")
#define(body):
<div class="wrapper">
    <h2><a href="/admin/blog/#(form.id)">#(form.title ?? form.id.capitalized())</a> / #(edit.id != nil ? "Edit" : "Create")</h2>
</div>

<form id="#(form.id)-edit-form" class="wrapper" method="post" action="/admin/blog/#(form.id)/#(form.idValue ?? "new")/">
    <input type="hidden" name="id" value="#(form.idValue)">

        #fields()

    <section>
        <input type="submit" class="submit" value="Save">
    </section>
</form>
#enddefine
#inline("Admin/Index")
