<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>#(title)</title>
    
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/feathercms/feather-core@1.0.0-beta.44/feather.min.css">
    <link rel="stylesheet" href="/css/admin.css">

    <style type="text/css">
        #evaluate(css ?? "")
    </style>
        
</head>
<body>
    <div id="navigation">
        <a id="site-logo" href="/">
            <img src="/img/logo.png">
        </a>

        <nav id="primary-menu">
            <input type="checkbox" id="primary-menu-button" name="menu-button" class="menu-button">
            <label for="primary-menu-button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </label>
            <div class="menu-items">
                <a href="/" target="_blank">Site</a>
                <a href="/admin/">Dashboard</a>
                <a href="/sign-out/">Logout</a>
            </div>
        </nav>
    </div>
    
    <main>
        #body()
    </main>

    <script src="/js/admin.js"></script>
</body>
</html>
