* {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica", "Segoe UI", Roboto, Ubuntu;
    font-size: 16px;
    line-height: 1.5em;
}
hr {
    margin: 15px 0px;
    border: none;
    border-width: 0.5px;
    border-style: solid;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
.wrapper {
    margin: 16px auto;
    max-width: 800px;
}
header {
    text-align: center;
    padding: 16px;
}
header img {
    width: 64px;
}
header nav {
    margin-top: 16px;
    margin-bottom: 16px;
}
main {
    margin-top: 16px;
}
#content {
    padding: 0px 16px;
}
#blog article {
    margin: 32px 0px;
}
@media (max-width: 599px) {}
@media (min-width: 600px) {}
@media (min-width: 900px) {}
@media (min-width: 1200px) {}
@media (min-width: 1800px) {}

/* light mode colors */
body {
    background: #fff;
    color: #222;
}
hr {
    border-color: #ccc;
}
a {
    color: #2B7DF6;
}
a:hover {
    color: #555BCF;
}
a:visited {
    color: #A35CD7;
}
header {
    background: #efefef;
}
header h1 {
    color: #000;
}

/* dark mode colors */
@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }
    hr {
        border-color: #333;
    }
    a {
        color: #3386F7;
    }
    a:hover {
        color: #5B61DE;
    }
    a:visited {
        color: #B365EA;
    }
    header {
        background: #000;
    }
    header h1 {
        color: #fff;
    }
}
