a, .link-color { color: #00A2FF; }
a:hover, a.selected:hover, a:visited:hover, .link-color-1 { color: #9383F9; }
a:visited, .link-color-2 { color: #0089D9; }
a.selected, .link-color-3 { color: #C758F7; }
a.button { color: #fff; background: #00A2FF; }
a.button:hover { color: #fff; background: #0089D9; }

