#let(title = "User admin")
#define(body):
<div class="wrapper">
    <h2>Push notification</h2>
</div>

<form id="push-form" class="wrapper" method="post" action="/admin/user/push/">
    <section>
        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject" value="#(subject)" class="field">
    </section>
    <section>
        <label for="message">Message</label>
        <input id="message" type="text" name="message" value="#(message)" class="field">
    </section>
    <section>
        <label for="userId">User</label>
        <select name="userId">
        #for(item in users):
            <option #if(item.key == userId): selected="selected" #endif value="#(item.key)">#(item.label)</option>
        #endfor
        </select>
    </section>
    <br>
    <section>
        <input type="submit" class="submit" value="Send">
    </section>
    <br>
    <section>
        #(status)
    </section>
</form>
#enddefine
#inline("Admin/Index")
