#define(body):
#(let form = formData ?? nil)

<div class="wrapper">
    <h2><a href="#(form.url)">#(form.title ?? form.key.capitalized())</a> / #(form.id != nil ? "Edit" : "Create")</h2>
</div>

<form id="#(form.key)-edit-form" class="wrapper" method="post" action="#(form.url)/#(form.id ?? "new")">
    <input type="hidden" name="id" value="#(form.id)">

    #evaluate(fields)
            
    <section>
        <input type="submit" class="submit" value="Save">
    </section>
</form>
#enddefine

#inline("Admin/Index")
