#let(title = "Blog admin")
#define(fields):
    #var(fieldData = nil)

    #(fieldData = ["id": "image", "data": edit.image])
    #inline("Admin/Form/Fields/File")

    #(fieldData = ["id": "title", "required": true, "data": edit.title])
    #inline("Admin/Form/Fields/Text")

    #(fieldData = ["id": "slug", "required": true, "data": edit.slug])
    #inline("Admin/Form/Fields/Text")

    #(fieldData = ["id": "excerpt", "size": "small", "data": edit.excerpt])
    #inline("Admin/Form/Fields/Textarea")

    #(fieldData = ["id": "content", "size": "large", "data": edit.content])
    #inline("Admin/Form/Fields/Textarea")

    #(fieldData = ["id": "date", "more": "Y.MM.dd. HH:mm:ss", "data": edit.date])
    #inline("Admin/Form/Fields/Text")

    #(fieldData = ["id": "categoryId", "label": "Category", "data": edit.category])
    #inline("Admin/Form/Fields/Selection")
#enddefine

#let(formData = ["id": edit.id, "key": "posts", "url": "/admin/blog/posts"])
#inline("Admin/Form")
