#define(title):
#(model.name.singular) details
#enddefine

#define(breadcrumb):
#if(bc.isEmpty()):
    <a href="/admin/#(model.module.idKey)/">#(model.module.name)</a>

    #if(model.permissions.list ?? false):
    <a href="/admin/#(model.module.idKey)/#(model.idKey)/">#(model.name.plural)</a>
    #else:
    <a>#(model.name.plural)</a>
    #endif
    <a href="#($req.url.path)" class="selected">View</a>
#else:
    #for(b in bc):
        <a href="#(b.url)"#if(isLast): class="selected"#endif>#(b.label)</a>
    #endfor
#endif
#enddefine
    
#define(body):
<div class="lead container">

    #var(navItems = [])
    #if(model.permissions.update ?? false):
        #(navItems.append(["url": $req.url.path + "update/", "label": "Edit"]))
    #endif
    #let(segmentItems = navItems + nav ?? [])
    
    #if(!segmentItems.isEmpty()):
    <div class="segment grid-#(segmentItems.count())">
        #for(navItem in segmentItems):
            <a href="#(navItem.url)"#if(navItem.isBlank ?? false): target="_blank"#endif>#(navItem.label)</a>
        #endfor
    </div>
    #endif
    
    <h1>#title()</h1>
</div>

<div class="container">
    
    <dl>
    #for(field in fields):
        <dt>#(field.label)</dt>
        #if(field.value.isEmpty() ?? false):
        <dd>&nbsp;</dd>
        #else:
        <dd>
            #if(field.type == "image"): <img src="#(field.value.resolve())">
            #else:                      #(field.value)
            #endif
        </dd>
        #endif
    #endfor
    </dl>

    <section>
        #if(model.permissions.delete ?? false):
        <a href="#($req.url.path)delete/?cancel=#($req.url.path)" class="destructive">Delete</a>
        #endif
    </section>
</div>
#enddefine

#inline("System/Admin/Index")
