#let(title = "Blog post list")
#define(body):
<div class="lead">
    <h1>Posts</h1>
    <a href="/admin/blog/posts/new/">Create</a>
</div>
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
    #for(item in list):
        <tr>
            <td><img src="#(item.image)"></td>
            <td>#(item.title)</td>
            <td><a href="/admin/blog/posts/#(item.id)/">Edit</a></td>
            <td><a href="/#(item.slug)/" target="_blank">Preview</a></td>
        </tr>
    #endfor
    </tbody>
</table>
#enddefine
#inline("Admin/Index")
