table {
    width: 100%;
}
table th {
    text-align: left;
}
table .small {
    width: 90px;
}
table .actions {
    text-align: right;
}
table img {
    width: 64px;
}
form textarea {
    display: block;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    width: 50%;
}
form textarea.small {
    height: 64px;
}
form textarea.large {
    height: 128px;
}
form .error {
    color: red;
}
@media (max-width: 599px) {
    form textarea {
        width: 80%;
    }
}
form textarea {
    background: #fff;
    color: #000;
    border-color: #ddd;
}
@media (prefers-color-scheme: dark) {
    form textarea {
        background: #000;
        color: #fff;
        border-color: #222;
    }
}
