#define(fields):

    #var(field = nil)

    #(field = ["id": "image", "data": edit.image])
    #inline("Admin/Fields/File")

    #(field = ["id": "title", "required": true, "data": edit.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "slug", "required": true, "data": edit.slug])
    #inline("Admin/Fields/Text")

    #(field = ["id": "excerpt", "size": "small", "data": edit.excerpt])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "content", "size": "large", "data": edit.content])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "date", "more": "Y.MM.dd. HH:mm:ss", "data": edit.date])
    #inline("Admin/Fields/Text")

    #(field = ["id": "categoryId", "label": "Category", "data": edit.category])
    #inline("Admin/Fields/Selection")

#enddefine

#let(title = "Blog posts")
#let(form = ["key": "posts", "id": edit.id, "url": "admin/blog/posts"])
#inline("Admin/Form")
